<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Item</title>
    <th:block th:include="~{vendor/bootstrap.html}"/>

</head>
<body>
<th:block th:include="~{vendor/navbar.html}"/>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Create Item</h5>
        </div>
        <div class="card-body">
            <form th:action="@{/items/new}" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" name="price" step="0.01" required>
                </div>

                <br/>

                <button type="submit" class="btn btn-primary">Create Item</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>